@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 550;
}

body {
  background-color: #FEFCFF;
}

button {
  text-align: center;
}

.symptome-label {
  background-color: #FEFCFF;
  border: 2px solid red;
  font-weight: 500;
  border-radius: 25px;
  padding: 6px;
  margin: 7px;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  gap: 12%;
}

.half-container {
  width: 20em;
  display: flex;
  flex-direction: column;
}

.symptome-input {
  display: flex;
  justify-content: center;
}

.symptome-input > input {
  background-color: white; 
  color: black;
  width: 520px;
  margin: 5px;
  padding: 8px 8px; 
  border-radius: 9px;
  font-size: 12px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
  border: 1px solid black;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.white-button {
  background-color: #E80000; 
  color: white;
  width: 120px;
  margin: 5px;
  padding: 8px 8px; 
  border-radius: 12px;
  font-size: 12px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
  font-weight: 550;
  border: 2px solid rgb(145, 8, 8);
}

.white-button:hover {
  background-color: rgb(145, 8, 8); 
  color: white;
}

.loading-animation {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}